// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    width: 100%;
    height: 100%;
}

.logo {
    filter: drop-shadow(0 0 5px $white);
}

//- Page section styling
.page-section {
    padding: 5.5rem 0;
}

// Custom utilities for this theme
.text-white-75 {
    color: fade-out($white, 0.25) !important;
}

p {
    font-family: $font-family-sans-serif-paragraph;
}

.tooltip {
    position: relative;
    display: inline;
    z-index: inherit;
    opacity: 1;
}

.tooltip:after {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 15%;
    opacity: 0;
    content: attr(tool-tips);
    /* might also use attr(title) */
    height: auto;
    min-width: 150px;
    padding: 5px 8px;
    z-index: 999;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tooltip:before {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 35%;
    bottom: 0px;
    opacity: 0;
    content: "";
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.tooltip:hover:after {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
    font-size: 0.875rem;
}

.tooltip:hover:before {
    visibility: visible;
    opacity: 1;
    bottom: 14px;
    font-size: 0.875rem;
}

/* tips on bottom */
.tooltip.bottom:after {
    bottom: auto;
    top: 0;
}

.tooltip.bottom:hover:after {
    top: 28px;
}

.tooltip.bottom:before {
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
    top: 0px
}

.tooltip.bottom:hover:before {
    top: 20px;
}

/* tips on the right */
// .tooltip.right:after {
//     left: 100%;
//     bottom: -45%;
// }

// .tooltip.right:hover:after {
//     left: 110%;
//     bottom: -45%;
// }

// .tooltip.right:before {
//     border-width: 5px 10px 5px 0;
//     border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
//     left: 90%;
//     bottom: 2%;
// }

// .tooltip.right:hover:before {
//     left: 100%;
//     bottom: 2%;
// }

/* tips on the left */
// .tooltip.left:after {
//     left: auto;
//     right: 100%;
//     bottom: -45%;
// }

// .tooltip.left:hover:after {
//     right: 110%;
//     bottom: -45%;
// }

// .tooltip.left:before {
//     border-width: 5px 0 5px 10px;
//     border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
//     left: auto;
//     right: 90%;
//     bottom: 2%;
// }

// .tooltip.left:hover:before {
//     right: 100%;
//     bottom: 2%;
// }

/* tooltip colors (add your own!) */
.tooltip.color:after {
    background: $primary;
}

.tooltip.color:before {
    border-color: $primary transparent transparent transparent;
}

.tooltip.bottom.color:before {
    border-color: transparent transparent $primary transparent;
}

// .tooltip.right.color:before {
//     border-color: transparent $primary transparent transparent;
// }

// .tooltip.left.color:before {
//     border-color: transparent transparent transparent $primary;
// }

.tooltip.animationTips:after,
.tooltip.animationTips:before {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

// Estas clases las tengo que mejorar ya que estoy reescribiendo para forzar el estilo
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

.area {
    cursor: default;
}