// 
// Typography
// 

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Wendy+One&family=Marcellus&display=swap');

$font-family-sans-serif: "Wendy One", sans-serif;

$font-family-button: "Acme", sans-serif;

$font-family-serif: "Marcellus", serif;

$font-family-base: $font-family-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-button;

$font-weight-bold: 400;