// 
// Typography
// 

@font-face {
    font-family: 'Berlin Sans FB Demi Bold';
    font-style: normal;
    src: local('Berlin Sans FB Demi Bold'), url('assets/font/Berlin_Sans/BRLNSDB.woff') format('woff');
}

@font-face {
    font-family: 'Inter Tight';
    src: local(Inter Tight), url('assets/font/Inter_Tight/InterTight-ExtraBold.ttf') format('ttf');
}

$font-family-sans-serif: "Berlin-sans-fb-demi-bold", "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-sans-serif-paragraph: "Inter Tight", "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-sans-serif;

$font-weight-bold: 400;